<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="diffbot_system" params="name">
    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>odrive_hardware_interface/ODriveHardwareInterface</plugin>
      </hardware>

      <sensor name="odrv0">
        <param name="serial_number">000000000000</param>
      </sensor>

      <joint name="left_wheel_joint">
        <param name="serial_number">000000000000</param>
        <param name="axis">0</param>
        <param name="enable_watchdog">1</param>
        <param name="watchdog_timeout">0.1</param>
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_wheel_joint">
        <param name="serial_number">000000000000</param>
        <param name="axis">1</param>
        <param name="enable_watchdog">1</param>
        <param name="watchdog_timeout">0.1</param>
        <command_interface name="velocity">
          <param name="min">-1</param>
          <param name="max">1</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>
